#* @vtlvariable name="siteConfig" type="org.nrg.xdat.preferences.SiteConfigPreferences" *#
#* @vtlvariable name="om" type="org.nrg.xdat.base.BaseElement" *#
#* @vtlvariable name="project" type="java.lang.String" *#
#* @vtlvariable name="requireReason" type="java.lang.String" *#
#* @vtlvariable name="showReason" type="java.lang.String" *#
#* @vtlvariable name="XNAT_CSRF" type="java.lang.String" *#
#* @vtlvariable name="turbineUtils" type="org.nrg.xdat.turbine.utils.TurbineUtils" *#
#* @vtlvariable name="content" type="org.apache.turbine.services.pull.tools.ContentTool" *#
#* @vtlvariable name="displayManager" type="org.nrg.xdat.display.DisplayManager" *#
<!-- path: /xnat-templates/navigations/HeaderIncludes -->

<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta http-equiv="Pragma" content="no-cache">
<meta http-equiv="cache-control" content="max-age=0">
<meta http-equiv="cache-control" content="no-cache">
<meta http-equiv="expires" content="-1">
<meta http-equiv="expires" content="Tue, 01 Jan 1980 1:00:00 GMT">


## pull in the base JavaScript files
$navigation.setTemplate("/BaseJS.vm")


<script>

    /*
     * XNAT global namespace object, which will not be overwriten if
     * already defined. Also define some other top level namespaces.
     */
    extend(XNAT, {
        /*
         * Parent namespace that templates can use to put their
         * own namespace
         */
        app: {
            displayNames: {
                singular: {
                    project: "$displayManager.getSingularDisplayNameForProject()",
                    subject: "$displayManager.getSingularDisplayNameForSubject()",
                    imageSession: "$displayManager.getSingularDisplayNameForImageSession()",
                    mrSession: "$displayManager.getSingularDisplayNameForMRSession()"
                },
                plural: {
                    project: "$displayManager.getPluralDisplayNameForProject()",
                    subject: "$displayManager.getPluralDisplayNameForSubject()",
                    imageSession: "$displayManager.getPluralDisplayNameForImageSession()",
                    mrSession: "$displayManager.getPluralDisplayNameForMRSession()"
                }
            },
            siteId: "$!turbineUtils.GetSystemName()"
        },
        images: {
            grnChk: "$content.getURI("images/checkmarkGreen.gif")",
            redChk: "$content.getURI("images/checkmarkRed.gif")"
        },
        data: {
            context: {
                #set($projectName = $turbineUtils.getProjectDisplayID($om, $project))
                projectName: "$!projectName",
                projectID: "$!om.getProject()",
                project: "$!om.getProject()",
                xsiType: "$!om.getXSIType()",
                #if($om)
                    isSubject: $!om.getItem().instanceOf("xnat:subjectData"),
                    isExperiment: $!om.getItem().instanceOf("xnat:experimentData"),
                    isSubjectAssessor: $!om.getItem().instanceOf("xnat:subjectAssessorData"),
                    isImageSession: $!om.getItem().instanceOf("xnat:imageSessionData"),
                    isImageAssessor: $!om.getItem().instanceOf("xnat:imageAssessorData"),
                #end
            ##                        //projectID: #if ($project) #if ($project.getId()) "$!project.getId()" #else "$!project" #end #end ,
            ##                        #if ($om.getSubjectId())
            ##                            subjectID: "$!om.getSubjectId()",
            ##                        #end
            ##                        subjectLabel: "#if($!om.getIdentifier($project,true))$!om.getIdentifier($project,true)#elseif($om.getLabel())$!om.getLabel()#else$!om.getId()#end",
                subjectLabel: "#if($!subject.getIdentifier($project,true))$!subject.getIdentifier($project,true)#elseif($subject.getLabel())$!subject.getLabel()#else$!subject.getId()#end",
                subjectID: "$!subject.getId()",
                label: "#if($!om.getIdentifier($project,true))$!om.getIdentifier($project,true)#elseif($om.getLabel())$!om.getLabel()#else$!om.getId()#end",
                ID: "$!om.getId()"
            ##                    subjectLabel: "$!item.getStringProperty("xnat:subjectData/name")",
            },
            timestamp: jq.now() // timestamp for the page when it loads
        }
    });

    if (XNAT.data.context.projectName === "") {
        #set ($projectName = $turbineUtils.getProjectName($om, $project))
        XNAT.data.context.projectName = "$projectName";
    }

    // 'page' object is same as 'context' - easier to remember?
    XNAT.data.page = XNAT.data.context;

    XNAT.app.showLeftBar = $siteConfig.uiShowLeftBarBrowse;
    XNAT.app.showLeftBarProjects = $siteConfig.uiShowLeftBarProjects;
    XNAT.app.showLeftBarFavorites = $siteConfig.uiShowLeftBarFavorites;
    XNAT.app.showLeftBarSearch = $siteConfig.uiShowLeftBarSearch;
    XNAT.app.showLeftBarBrowse = $siteConfig.uiShowLeftBarBrowse;

    window.available_elements = [];

    #if($data.getSession().getAttribute("userHelper"))
        #set ($typeObjects = $data.getSession().getAttribute("userHelper").getBrowseableElementDisplays() )
        #end

        #foreach ($typeObject in $typeObjects)
        window.available_elements.push({
            singular: "$typeObject.getSchemaElement().getElementSecurity().getSingularDescription()",
            plural: "$typeObject.getSchemaElement().getElementSecurity().getPluralDescription()",
            element_name: "$typeObject.getElementName()",
            actions: $typeObject.getElementSecurity().getListingActionsJSON(),
            "lbg": "$!typeObject.getLightColor()",
            "dbg": "$!typeObject.getDarkColor()",
            "isExperiment": $typeObject.getSchemaElement().instanceOf("xnat:experimentData"),
            "isSubjectAssessor": $typeObject.getSchemaElement().instanceOf("xnat:subjectAssessorData"),
            "isImageAssessor": $typeObject.getSchemaElement().instanceOf("xnat:imageAssessorData"),
            "isImageSession": $typeObject.getSchemaElement().instanceOf("xnat:imageSessionData"),
            "isImageScan": $typeObject.getSchemaElement().instanceOf("xnat:imageScanData")
        });
        #end

    window.available_elements.getByName = function (name) {
        for (var aeC = 0; aeC < this.length; aeC++) {
            if (this[aeC].element_name == name) {
                return this[aeC];
            }
        }
        // return empty object if not found
        return {}
    };

        #if($project)
            #if($project.getId())
            window.projectScope = "$!project.getId()";
            #else
            window.projectScope = "$!project";
            #end
        #end

        #if($item)
            #if($item.instanceOf("xnat:subjectData"))
              XNAT.app.current_uri=serverRoot+"/REST/projects/$om.getProject()/subjects/$om.getId()";
            #elseif($item.instanceOf("xnat:derivedData"))
              XNAT.app.current_uri=serverRoot+"/REST/projects/$om.getProject()/subjects/$om.getImageSessionData().getSubjectId()/experiments/$om.getImageSessionData().getId()/assessors/$om.getId()";
            #else
              XNAT.app.current_uri=serverRoot+"/REST/projects/$om.getProject()/subjects/$om.getSubjectId()/experiments/$om.getId()";
            #end
        #end

    // quickly reference today's date
    XNAT.data.todaysDate = {};
    // if today was January 23, 2013...
    // m (1), mm (01), d (23), dd (23), yyyy (2013), ISO/iso (2013-01-23), US/us (01/23/2013)
    (function (dateObj) {
        dateObj.date = new Date();
        dateObj.gotMonth = dateObj.date.getMonth();
        dateObj.m = (dateObj.gotMonth + 1).toString();
        dateObj.mm = (dateObj.m.length === 1) ? '0' + dateObj.m : dateObj.m;
        dateObj.d = dateObj.date.getDate().toString();
        dateObj.dd = (dateObj.d.length === 1) ? '0' + dateObj.d : dateObj.d;
        dateObj.yyyy = dateObj.date.getFullYear().toString();
        dateObj.ISO = dateObj.iso = dateObj.yyyy + '-' + dateObj.mm + '-' + dateObj.dd;
        dateObj.US = dateObj.us = dateObj.mm + '/' + dateObj.dd + '/' + dateObj.yyyy;
    })(XNAT.data.todaysDate);

</script>
<script>
    // initialize "Chosen" menus on DOM load
    // all <select class="xnat-menu"> elements
    // will be converted
    // putting this here to be at the top of
    // the jQuery DOM-ready queue
    jq(function(){menuInit()});
</script>
<script src="$content.getURI('scripts/xdat.js')"></script>
<script src="$content.getURI('scripts/DynamicJSLoad.js')"></script>

<!-- YAHOO USER INTERFACE files below here -->
<script src="$content.getURI('scripts/yui/build/yahoo-dom-event/yahoo-dom-event.js')"></script>
##<script src="$content.getURI('scripts/yui/build/event/event.js')"></script>
<script src="$content.getURI('scripts/yui/build/event/event-min.js')"></script>
<script src="$content.getURI('scripts/yui/build/container/container-min.js')"></script>
<script src="$content.getURI('scripts/yui/build/menu/menu-min.js')"></script>
<script src="$content.getURI('scripts/yui/build/element/element-beta-min.js')"></script>
<script src="$content.getURI('scripts/yui/build/button/button-min.js')"></script>
<script src="$content.getURI('scripts/yui/build/connection/connection-min.js')"></script>
<script src="$content.getURI('scripts/yui/build/treeview/treeview-min.js')"></script>
<script src="$content.getURI('scripts/yui/build/cookie/cookie-min.js')"></script>
<script src="$content.getURI('scripts/yui/build/tabview/tabview-min.js')"></script>
<script src="$content.getURI('scripts/yui/build/datasource/datasource-min.js')"></script>
<script src="$content.getURI('scripts/yui/build/resize/resize-min.js')"></script>
<script src="$content.getURI('scripts/yui/build/dragdrop/dragdrop-min.js')"></script>
<script src="$content.getURI('scripts/yui/build/datatable/datatable-min.js')"></script>
<script src="$content.getURI('scripts/yui/build/paginator/paginator-min.js')"></script>
<script src="$content.getURI('scripts/yui/build/json/json-min.js')"></script>
<script src="$content.getURI('scripts/yui/xnat_loader.js')"></script>
<script src="$content.getURI('scripts/LeftBarTreeView.js')"></script>
<script src="$content.getURI('scripts/justification/justification.js')"></script>
<script>

    // The YUIDOM alias is used throughout XNAT
    var YUIDOM = YAHOO.util.Dom;

    XNAT.dom = getObject(XNAT.dom||{});
    XNAT.dom.addFormCSRF = function(form){
        $$(form||'form').each(function(){
            var form$ = $(this);
            if (!form$.has('input[name="XNAT_CSRF"]').length){
                form$.append('<input type="hidden" name="XNAT_CSRF" value="' + csrfToken + '">')
            }
        });
    };

    jq(function(){
        // add hidden input with CSRF data
        // to all forms on page load
        XNAT.dom.addFormCSRF();
    });

</script>

<!-- YUI css -->
<link rel="stylesheet" type="text/css" href="$content.getURI('scripts/yui/build/assets/skins/xnat/xnat.css?v=1.7.0a1')">

<!-- date input stuff -->
<link type="text/css" rel="stylesheet" href="${SITE_ROOT}/scripts/lib/dateTimePicker/jquery.datetimepicker.min.css?${versionString}">
<script src="${SITE_ROOT}/scripts/lib/dateTimePicker/jquery.datetimepicker.full.min.js"></script>

<link type="text/css" rel="stylesheet" href="$content.getURI('scripts/yui/build/calendar/assets/skins/sam/calendar.css?v=1.7.0a1')">
##<script src="$content.getURI('scripts/yui/build/calendar/calendar.js')"></script>
<script src="$content.getURI('scripts/yui/build/calendar/calendar-min.js')"></script>
<script src="$content.getURI('scripts/ezCalendar.js')"></script>


## pull in the XNAT app JavaScript files
$navigation.setTemplate("/AppJS.vm")


<link rel="stylesheet" type="text/css" href="$content.getURI('scripts/tabWrangler/tabWrangler.css?v=1.7.0a1')">
<script src="$content.getURI('scripts/tabWrangler/tabWrangler.js')"></script>


#addGlobalCustomScreens("header")
